<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <ul>
        {% for person in persons %}
        <li>
            <a href="{% url 'persons_update' person.id %}">{{person.first_name}} - {{person.age}}</a>
            <a href="{% url 'persons_delete' person.id %}"> - Deletar</a>
        </li>
        {% endfor %}
    </ul>

    <br>
    <a href="{% url 'person_new' %}">Novo Cliente</a>

</body>
</html>